<!DOCTYPE html>
<html>
<head>
  <title>PsReporting</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
  <h3>
    <a href="/customers">Customers</a> | 
    <a href="/architects">Architects</a> | 
    <a href="/reports/engagements">Reports</a>
  </h3>
</p>
<hr/>

<%= yield %>

</body>
</html>
